html {
    height: 100%;
    overflow: hidden;
}

body {
    max-height: 100%;
    overflow: auto;
}

#site-container {
    width: 100%;
    height: 1000px; 
    padding: 20px 0;
    min-height: calc(100% - 250px);
    background: yellow;
}
