
    </div>
    <!-- CONTAINER -->

    <!-- FOOTER -->
    <div id="site-footer"></div>
    <!-- FOOTER -->


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../assets/js/vendor.js"></script>
    <script src="../assets/js/app.js"></script>
  </body>
</html>